Repository algorhythmicdev/AlgoWeb, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, workflow, docs

Fix SvelteKit metadata helpers for strict checks
  package.json
  scripts/run-ci.mjs
  src/lib/components/AdminNav.svelte
  src/lib/components/Button.svelte
  src/lib/components/Footer.svelte
  src/lib/components/LoadingOverlay.svelte
  src/lib/components/Navigation.svelte
  src/lib/config/seo.js
  src/lib/utils/paths.ts
  src/routes/+layout.svelte
  src/routes/+layout.ts
  src/routes/+page.svelte
  src/routes/404.html
Labels: frontend

Fix SvelteKit metadata helpers for strict checks (#133)
  package.json
  scripts/run-ci.mjs
  src/lib/components/AdminNav.svelte
  src/lib/components/Button.svelte
  src/lib/components/Footer.svelte
  src/lib/components/LoadingOverlay.svelte
  src/lib/components/Navigation.svelte
  src/lib/config/seo.js
  src/lib/utils/paths.ts
  src/routes/+layout.svelte
  src/routes/+layout.ts
  src/routes/+page.svelte
  src/routes/404.html
Labels: frontend

Fix icon base path and align styling tokens
  .github/workflows/labeler.yml
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/ideonautix/+page.svelte
Labels: frontend, workflow

Fix icon base path and align styling tokens (#134)
  .github/workflows/labeler.yml
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/ideonautix/+page.svelte
Labels: frontend, workflow

Add roadmap vision sections and clarify NodeVoyage copy
  ASSETS.md
  CMS_SCHEMAS.md
  QUICKSTART.md
  cms/src/index.ts
  src/lib/components/Footer.svelte
  src/lib/components/Navigation.svelte
  src/lib/config/seo.js
  src/lib/styles/theme.css
  src/lib/translations/en.json
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/consulting/+page.js
  src/routes/consulting/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/ideonautix/+page.svelte
  src/routes/nodevoyage/+page.js
  src/routes/nodevoyage/+page.svelte
Labels: frontend, docs

Add roadmap vision sections and clarify NodeVoyage copy (#135)
  ASSETS.md
  CMS_SCHEMAS.md
  QUICKSTART.md
  cms/src/index.ts
  src/lib/components/Footer.svelte
  src/lib/components/Navigation.svelte
  src/lib/config/seo.js
  src/lib/styles/theme.css
  src/lib/translations/en.json
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/consulting/+page.js
  src/routes/consulting/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/ideonautix/+page.svelte
  src/routes/nodevoyage/+page.js
  src/routes/nodevoyage/+page.svelte
Labels: frontend, docs

Align header container width with defined tokens
  src/lib/components/Footer.svelte
  src/lib/components/Hero.svelte
  src/lib/components/Navigation.svelte
  src/lib/components/Section.svelte
  src/lib/components/icons/Icon.svelte
  src/lib/components/language-switcher.svelte
  src/lib/components/theme-toggle-dropdown.svelte
  src/lib/config/navigation.js
  src/lib/styles/global.css
  src/lib/styles/theme.css
  src/lib/translations/en.json
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/consulting/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/ideonautix/+page.svelte
  src/routes/nodevoyage/+page.svelte
Labels: frontend

Align header container width with defined tokens (#136)
  src/lib/components/Footer.svelte
  src/lib/components/Hero.svelte
  src/lib/components/Navigation.svelte
  src/lib/components/Section.svelte
  src/lib/components/icons/Icon.svelte
  src/lib/components/language-switcher.svelte
  src/lib/components/theme-toggle-dropdown.svelte
  src/lib/config/navigation.js
  src/lib/styles/global.css
  src/lib/styles/theme.css
  src/lib/translations/en.json
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/consulting/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/ideonautix/+page.svelte
  src/routes/nodevoyage/+page.svelte
Labels: frontend

Harden theme persistence against storage failures
  src/app.html
  src/lib/components/Footer.svelte
  src/lib/components/HaloFX.svelte
  src/lib/components/Hero.svelte
  src/lib/components/ParticleNetwork.svelte
  src/lib/components/SectionDivider.svelte
  src/lib/components/ThemedBackground.svelte
  src/lib/components/TypewriterText.svelte
  src/lib/components/icons/Icon.svelte
  src/lib/components/language-switcher.svelte
  src/lib/components/theme-toggle-dropdown.svelte
  src/lib/components/theme-toggle.svelte
  src/lib/stores/theme.ts
  src/lib/styles/animations.css
  src/lib/styles/forms.css
  src/lib/styles/global.css
  src/lib/styles/reading.css
  src/lib/styles/theme.css
  src/lib/styles/typography.css
  src/lib/theme/theme-utils.ts
  src/lib/translations/en.json
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/consulting/+page.svelte
  tests/stores.spec.js
Labels: frontend

Harden theme persistence against storage failures (#137)
  src/app.html
  src/lib/components/Footer.svelte
  src/lib/components/HaloFX.svelte
  src/lib/components/Hero.svelte
  src/lib/components/ParticleNetwork.svelte
  src/lib/components/SectionDivider.svelte
  src/lib/components/ThemedBackground.svelte
  src/lib/components/TypewriterText.svelte
  src/lib/components/icons/Icon.svelte
  src/lib/components/language-switcher.svelte
  src/lib/components/theme-toggle-dropdown.svelte
  src/lib/components/theme-toggle.svelte
  src/lib/stores/theme.ts
  src/lib/styles/animations.css
  src/lib/styles/forms.css
  src/lib/styles/global.css
  src/lib/styles/reading.css
  src/lib/styles/theme.css
  src/lib/styles/typography.css
  src/lib/theme/theme-utils.ts
  src/lib/translations/en.json
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/consulting/+page.svelte
  tests/stores.spec.js
Labels: frontend

Derive particle palette fallbacks from theme tokens
  src/lib/components/ParticleNetwork.svelte
  src/lib/styles/global.css
  src/lib/styles/theme.css
Labels: frontend

Derive particle palette fallbacks from theme tokens (#138)
  src/lib/components/ParticleNetwork.svelte
  src/lib/styles/global.css
  src/lib/styles/theme.css
Labels: frontend

Update README.md
  README.md
Labels: docs

fix: sync locale switcher and harden seo helper
  src/lib/components/language-switcher.svelte
  src/lib/seo.ts
  src/lib/translations/en.json
  src/routes/education/+page.svelte
Labels: frontend

Add npm lockfile for CI
  package-lock.json
Labels: none

Add npm lockfile for CI (#140)
  package-lock.json
Labels: none

Fix navigation paths for static base builds
  src/lib/components/AdminNav.svelte
  src/lib/components/Navigation.svelte
  src/lib/stores/index.js
  src/lib/stores/theme.js
  src/lib/styles/theme.css
Labels: frontend

Fix navigation paths for static base builds (#141)
  src/lib/components/AdminNav.svelte
  src/lib/components/Navigation.svelte
  src/lib/stores/index.js
  src/lib/stores/theme.js
  src/lib/styles/theme.css
Labels: frontend

chore: add estree-walker for content tests
  .env.example
  .github/workflows/preview-oss.yml
  design/contrast-pairs.json
  package.json
  pnpm-lock.yaml
  scripts/contrast-check.mjs
  src/lib/jsonld.ts
  src/lib/seo.ts
  src/routes/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/ideonautix/+page.svelte
  src/routes/nodevoyage/+page.svelte
  src/routes/robots.txt/+server.ts
  src/routes/sitemap.xml/+server.ts
  static/robots.txt
  tests/contact-form.spec.ts
  tests/contrast-config.spec.ts
  tests/jsonld.spec.ts
Labels: frontend, workflow

chore: add estree-walker for content tests (#142)
  .env.example
  .github/workflows/preview-oss.yml
  design/contrast-pairs.json
  package.json
  pnpm-lock.yaml
  scripts/contrast-check.mjs
  src/lib/jsonld.ts
  src/lib/seo.ts
  src/routes/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/ideonautix/+page.svelte
  src/routes/nodevoyage/+page.svelte
  src/routes/robots.txt/+server.ts
  src/routes/sitemap.xml/+server.ts
  static/robots.txt
  tests/contact-form.spec.ts
  tests/contrast-config.spec.ts
  tests/jsonld.spec.ts
Labels: frontend, workflow

Replace preview assets with text-based placeholders
  src/lib/components/Footer.svelte
  src/lib/components/GalleryPreview.svelte
  src/lib/components/Hero.svelte
  src/lib/components/Navigation.svelte
  src/lib/components/ProductCards.svelte
  src/lib/components/Teasers.svelte
  src/lib/components/Testimonials.svelte
  src/lib/components/Timeline.svelte
  src/lib/config/index.js
  src/lib/config/navigation.js
  src/lib/config/seo.js
  src/lib/seo.ts
  src/lib/translations/en.json
  src/routes/+layout.svelte
  src/routes/+layout.ts
  src/routes/+page.js
  src/routes/+page.svelte
  src/routes/about/+page.js
  src/routes/about/+page.server.ts
  src/routes/about/+page.svelte
  src/routes/consulting/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/cookies/+page.svelte
  src/routes/education/+page.svelte
  src/routes/ideonautix/+page.svelte
  src/routes/nodevoyage/+page.svelte
  src/routes/privacy/+page.svelte
  src/routes/robots.txt/+server.ts
  src/routes/sitemap.xml/+server.ts
  src/routes/team/+page.svelte
  src/routes/terms/+page.svelte
  static/images/partners/Reclame-Fabriek-Cube.png
  static/images/partners/reclame-fabriek-logo.svg
  tests/content.spec.js
  tests/footer-nav-translations.spec.ts
  tests/ia-labels.spec.ts
  tests/pages-structure.spec.ts
  tests/unkeyed-text.spec.ts
Labels: frontend

Replace preview assets with text-based placeholders (#143)
  src/lib/components/Footer.svelte
  src/lib/components/GalleryPreview.svelte
  src/lib/components/Hero.svelte
  src/lib/components/Navigation.svelte
  src/lib/components/ProductCards.svelte
  src/lib/components/Teasers.svelte
  src/lib/components/Testimonials.svelte
  src/lib/components/Timeline.svelte
  src/lib/config/index.js
  src/lib/config/navigation.js
  src/lib/config/seo.js
  src/lib/seo.ts
  src/lib/translations/en.json
  src/routes/+layout.svelte
  src/routes/+layout.ts
  src/routes/+page.js
  src/routes/+page.svelte
  src/routes/about/+page.js
  src/routes/about/+page.server.ts
  src/routes/about/+page.svelte
  src/routes/consulting/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/cookies/+page.svelte
  src/routes/education/+page.svelte
  src/routes/ideonautix/+page.svelte
  src/routes/nodevoyage/+page.svelte
  src/routes/privacy/+page.svelte
  src/routes/robots.txt/+server.ts
  src/routes/sitemap.xml/+server.ts
  src/routes/team/+page.svelte
  src/routes/terms/+page.svelte
  static/images/partners/Reclame-Fabriek-Cube.png
  static/images/partners/reclame-fabriek-logo.svg
  tests/content.spec.js
  tests/footer-nav-translations.spec.ts
  tests/ia-labels.spec.ts
  tests/pages-structure.spec.ts
  tests/unkeyed-text.spec.ts
Labels: frontend

test: hash home vrt baseline
  .github/workflows/preview-oss.yml
  .gitignore
  e2e/home.vrt.spec.ts
  e2e/ideonautix.vrt.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/lib/canonical.ts
  src/lib/components/Footer.svelte
  src/lib/components/Navigation.svelte
  src/lib/hreflang.ts
  src/lib/i18n.ts
  src/lib/meta.ts
  src/lib/url.ts
  src/routes/+error.svelte
  src/routes/+layout.server.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/404.html
  src/routes/consulting/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/cookies/+page.svelte
  src/routes/education/+page.svelte
  src/routes/ideonautix/+page.svelte
  src/routes/nodevoyage/+page.svelte
  src/routes/privacy/+page.svelte
  src/routes/robots.txt/+server.ts
  src/routes/sitemap.xml/+server.ts
  src/routes/team/+page.svelte
  src/routes/terms/+page.svelte
  tests/head-links.spec.ts
  tests/meta.spec.ts
  tests/robots.spec.ts
Labels: frontend, workflow

test: hash home vrt baseline (#144)
  .github/workflows/preview-oss.yml
  .gitignore
  e2e/home.vrt.spec.ts
  e2e/ideonautix.vrt.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/lib/canonical.ts
  src/lib/components/Footer.svelte
  src/lib/components/Navigation.svelte
  src/lib/hreflang.ts
  src/lib/i18n.ts
  src/lib/meta.ts
  src/lib/url.ts
  src/routes/+error.svelte
  src/routes/+layout.server.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/404.html
  src/routes/consulting/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/cookies/+page.svelte
  src/routes/education/+page.svelte
  src/routes/ideonautix/+page.svelte
  src/routes/nodevoyage/+page.svelte
  src/routes/privacy/+page.svelte
  src/routes/robots.txt/+server.ts
  src/routes/sitemap.xml/+server.ts
  src/routes/team/+page.svelte
  src/routes/terms/+page.svelte
  tests/head-links.spec.ts
  tests/meta.spec.ts
  tests/robots.spec.ts
Labels: frontend, workflow

.github/labeler.yml:

frontend:
  - changed-files:
      - any-glob-to-any-file: ['src/**']
workflow:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']
docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md']
